@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Leckerli+One");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Cambay");
@import url("https://fonts.googleapis.com/css?family=Coustard");
body {
  margin: 0;
  color: white; }

a {
  text-decoration: none; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media screen and (max-width: 1110px) {
  .container {
    margin-left: 30px; } }

header {
  margin: 0;
  background-image: url("../images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 700px; }

.logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  max-width: 130px; }
  .logo:hover {
    cursor: default; }
  .logo__img {
    width: 50px;
    height: 50px;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    padding: 5px;
    padding-right: 0; }
  .logo__text {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px; }

.menu {
  max-width: 800px;
  font-family: "Work Sans", sans-serif; }
  .menu ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none; }
    .menu ul li {
      margin-right: 40px; }
      .menu ul li a:hover {
        color: #8799a3;
        cursor: pointer; }

@media screen and (max-width: 991px) {
  .logo {
    margin: 0 auto; } }

.button {
  border: 2px solid yellow;
  border-radius: 30px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  max-width: 150px;
  padding: 0 10px;
  margin: auto 0;
  box-shadow: 0px 9px 18px 0px rgba(233, 233, 4, 0.25); }
  .button:hover {
    box-shadow: none;
    cursor: pointer; }
  .button a {
    color: yellow; }

@media screen and (max-width: 991px) {
  .button {
    margin: 0 auto; }
  .menu {
    margin: 0 auto; } }

.Intro {
  color: white;
  margin: 50px;
  margin-top: 200px;
  margin-left: 0;
  max-width: 500px; }
  .Intro h3 {
    font-family: "Leckerli One", cursive; }
  .Intro h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900; }
    .Intro h2 span {
      color: #0081ff; }
  .Intro h4 {
    margin-top: -10px;
    font-family: "Montserrat", sans-serif; }
  .Intro p {
    font-family: "Cambay", sans-serif; }
  .Intro .Intro__button {
    background-color: #171717;
    border-radius: 20px;
    padding: 10px 10px;
    text-align: center;
    box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.92);
    max-width: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px; }
    .Intro .Intro__button:hover {
      cursor: pointer; }
      .Intro .Intro__button:hover a {
        color: #8799a3; }
    .Intro .Intro__button a {
      color: white; }

.second_block {
  background-color: #0081ff; }
  .second_block__text_content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .second_block__text_content_1 {
      margin-left: 0; }
      .second_block__text_content_1 h2 {
        max-width: 400px;
        font-family: "Montserrat", sans-serif;
        font-weight: 900; }
      .second_block__text_content_1 h3 {
        font-family: "Leckerli One", cursive; }
    .second_block__text_content_2 p {
      max-width: 565px;
      font-family: "Cambay", sans-serif; }
  .second_block .social_networks {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .second_block .social_networks h4 {
      font-family: "Cambay", sans-serif; }
    .second_block .social_networks ul {
      list-style: none; }
      .second_block .social_networks ul li {
        margin-right: 30px;
        display: inline-block; }
        .second_block .social_networks ul li a i {
          color: white;
          transition: .3s; }
          .second_block .social_networks ul li a i:hover {
            color: black;
            cursor: pointer; }

.services {
  width: 100%;
  background-color: #007af2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px; }
  .services_web, .services_brand, .services_html {
    background-image: url(../images/block2_logo1.jpg);
    background-repeat: no-repeat;
    max-width: 400px; }
    .services_web h3, .services_brand h3, .services_html h3 {
      font-family: "Montserrat", sans-serif;
      max-width: 200px;
      margin-left: 100px;
      margin-top: 0; }
    .services_web p, .services_brand p, .services_html p {
      font-family: "Cambay", sans-serif;
      max-width: 300px;
      margin-left: 100px; }
  .services_brand {
    background-image: url(../images/block2_logo2.jpg); }
  .services_html {
    background-image: url(../images/block2_logo3.jpg); }

.third_block {
  color: black; }
  .third_block__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    .third_block__header_1 h3 {
      font-family: "Leckerli One", cursive; }
    .third_block__header_1 h2 {
      font-family: "Montserrat", sans-serif; }
    .third_block__header_button {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      background-color: #1cbbb4;
      border-radius: 30px;
      padding: 10px 20px;
      box-shadow: 0px 2px 13px 0px rgba(38, 214, 252, 0.96); }
      .third_block__header_button:hover {
        box-shadow: none; }
        .third_block__header_button:hover a {
          color: #8799a3; }
      .third_block__header_button a {
        color: white; }
  .third_block__portfolio {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    width: 100%;
    min-height: 600px; }
    .third_block__portfolio_hover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(110, 108, 105, 0.61); }
      .third_block__portfolio_hover_main {
        width: 60%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10px; }
        .third_block__portfolio_hover_main p {
          text-align: center;
          font-family: "Cambay", sans-serif;
          margin: 10px; }
        .third_block__portfolio_hover_main p {
          margin: 10px;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-weight: bold; }
        .third_block__portfolio_hover_main_links {
          margin-top: 5px;
          text-align: center; }
          .third_block__portfolio_hover_main_links a {
            color: black;
            margin: 0 10px; }
            .third_block__portfolio_hover_main_links a:hover {
              color: white; }
    .third_block__portfolio_first {
      width: 50%;
      min-width: 400px; }
      .third_block__portfolio_first_1 {
        height: 60%;
        width: 100%;
        position: relative; }
        .third_block__portfolio_first_1:hover .third_block__portfolio_hover {
          display: block; }
        .third_block__portfolio_first_1 img {
          width: 100%;
          height: 100%; }
      .third_block__portfolio_first_2 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%; }
        .third_block__portfolio_first_2_1 {
          width: 50%;
          height: 40%;
          position: relative; }
          .third_block__portfolio_first_2_1:hover .third_block__portfolio_hover {
            display: block; }
          .third_block__portfolio_first_2_1 img {
            width: 100%;
            height: 100%; }
        .third_block__portfolio_first_2_2 {
          width: 50%;
          height: 40%;
          position: relative; }
          .third_block__portfolio_first_2_2:hover .third_block__portfolio_hover {
            display: block; }
          .third_block__portfolio_first_2_2 img {
            width: 100%;
            height: 100%; }
    .third_block__portfolio_second {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      width: 50%;
      min-width: 400px; }
      .third_block__portfolio_second_1 {
        height: 100%;
        width: 50%;
        position: relative; }
        .third_block__portfolio_second_1:hover .third_block__portfolio_hover {
          display: block; }
        .third_block__portfolio_second_1 img {
          height: 100%;
          width: 100%; }
      .third_block__portfolio_second_2 {
        width: 50%;
        height: 100%; }
        .third_block__portfolio_second_2_1 {
          width: 100%;
          height: 50%;
          position: relative; }
          .third_block__portfolio_second_2_1:hover .third_block__portfolio_hover {
            display: block; }
          .third_block__portfolio_second_2_1 img {
            width: 100%;
            height: 100%; }
        .third_block__portfolio_second_2_2 {
          width: 100%;
          height: 50%;
          position: relative; }
          .third_block__portfolio_second_2_2:hover .third_block__portfolio_hover {
            display: block; }
          .third_block__portfolio_second_2_2 img {
            width: 100%;
            height: 100%; }

@media screen and (max-width: 817px) {
  .third_block__portfolio_first {
    width: 100%; }
  .third_block__portfolio_second {
    width: 100%; } }

.fourth_block {
  background-image: url("../images/bg_block4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
  padding-top: 10%; }
  .fourth_block__flex {
    margin: 0 auto; }
  .fourth_block__text {
    margin: 0 auto; }
    .fourth_block__text h3 {
      font-family: "Leckerli One", cursive;
      text-align: center; }
    .fourth_block__text h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      text-align: center; }
  .fourth_block__logos {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .fourth_block__logos i {
      color: #686868;
      margin: 20px 50px; }
      .fourth_block__logos i:hover {
        color: white; }
  .fourth_block__review {
    margin: 0 auto;
    max-width: 650px; }
    .fourth_block__review p {
      font-family: "Coustard", serif;
      margin-left: 30px; }
    .fourth_block__review_CS {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      max-width: 316px;
      margin: 10px auto; }
      .fourth_block__review_CS_img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-image: url("../images/block4_face.jpg");
        background-repeat: no-repeat;
        background-position: center; }
      .fourth_block__review_CS_text h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: yellow; }
      .fourth_block__review_CS_text p {
        font-family: "Cambay", sans-serif;
        margin-left: 0;
        margin-top: -20px; }

.fifth_block {
  color: black;
  min-height: 700px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 100px 0; }
  .fifth_block__1, .fifth_block__2 {
    margin: 0 25px; }
    .fifth_block__1_text {
      padding: 0 50px 0 0; }
      .fifth_block__1_text_1 {
        font-family: "Leckerli One", cursive;
        color: #8799a3; }
      .fifth_block__1_text_2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 900; }
      .fifth_block__1_text_3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        margin-top: -20px; }
      .fifth_block__1_text p {
        font-family: "Cambay", sans-serif;
        color: #8799a3;
        max-width: 350px; }
    .fifth_block__1_blue {
      background-color: #007df7;
      box-shadow: 0px 0px 90px 0px rgba(29, 200, 210, 0.9);
      color: white;
      padding: 0 50px; }
      .fifth_block__1_blue h4 {
        text-align: center;
        font-weight: bolder;
        font-family: "Montserrat", sans-serif; }
        .fifth_block__1_blue h4 span {
          color: yellow; }
      .fifth_block__1_blue p {
        font-family: "Coustard", serif;
        max-width: 300px;
        margin: 0 auto;
        text-align: center; }
    .fifth_block__1_video {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .fifth_block__1_video_standart {
        background-image: url("../images/block5_1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 170px;
        box-shadow: 0px 0px 90px 0px rgba(186, 186, 186, 0.94); }
        .fifth_block__1_video_standart h5 {
          color: #8799a3;
          font-family: "Montserrat", sans-serif;
          font-weight: bolder;
          text-align: center; }
        .fifth_block__1_video_standart h4 {
          font-family: "Montserrat", sans-serif;
          font-weight: 900;
          text-align: center; }
      .fifth_block__1_video_video {
        background-image: url("../images/block5_2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 170px;
        color: white;
        box-shadow: 0px 0px 90px 0px rgba(186, 186, 186, 0.94); }
        .fifth_block__1_video_video h5 {
          font-family: "Montserrat", sans-serif;
          font-weight: bolder;
          text-align: center; }
        .fifth_block__1_video_video h4 {
          font-family: "Montserrat", sans-serif;
          font-weight: 900;
          text-align: center;
          margin-top: -20px; }
        .fifth_block__1_video_video i {
          display: block;
          text-align: center;
          position: relative;
          bottom: 20px; }

@media screen and (max-width: 350px) {
  .fifth_block__1_video_standart {
    width: 100%; }
  .fifth_block__1_video_video {
    width: 100%; } }

.fifth_block__2_gallery {
  background-image: url("../images/block5_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 101px 50px;
  box-shadow: 0px 0px 30px 0px rgba(69, 69, 69, 0.95); }
  .fifth_block__2_gallery h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #8799a3; }
  .fifth_block__2_gallery h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900; }
  .fifth_block__2_gallery p {
    font-family: "Cambay", sans-serif;
    max-width: 400px; }
  .fifth_block__2_gallery_button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #fefb30;
    border-radius: 30px;
    display: inline;
    padding: 5px 10px;
    box-shadow: 0px 6px 25px 0px rgba(255, 249, 96, 0.97); }
    .fifth_block__2_gallery_button:hover {
      box-shadow: none; }
    .fifth_block__2_gallery_button a {
      color: black; }

.fifth_block__2_2 {
  box-shadow: 0px 0px 30px 0px rgba(69, 69, 69, 0.95);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-top: 27px;
  max-width: 496px; }
  .fifth_block__2_2_standart {
    min-height: 200px;
    padding-left: 30px; }
    .fifth_block__2_2_standart h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      color: #8799a3; }
    .fifth_block__2_2_standart h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      max-width: 250px; }
    .fifth_block__2_2_standart p {
      font-family: "Cambay", sans-serif;
      max-width: 300px;
      color: #8799a3;
      margin-top: -20px; }
  .fifth_block__2_2_pink {
    background-color: #e91d62;
    padding: 0 30px; }
    .fifth_block__2_2_pink_block {
      margin: 50% auto; }
      .fifth_block__2_2_pink_block h4 {
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-weight: bold; }

@media screen and (max-width: 1046px) {
  .fifth_block__1, .fifth_block__2 {
    width: 100%; } }

.sixth_block {
  background-image: url("../images/block6_1.jpg");
  color: white;
  font-family: "Cambay", sans-serif;
  padding: 100px 70px; }
  .sixth_block span {
    color: #8799a3; }
  .sixth_block a {
    color: #0b65c4; }
  .sixth_block h3 {
    font-family: "Leckerli One", cursive; }
  .sixth_block h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900; }
  .sixth_block__first_p {
    margin: 0; }
  .sixth_block__first_social ul {
    padding: 0;
    list-style: none; }
    .sixth_block__first_social ul li {
      margin-right: 30px;
      display: inline-block; }
      .sixth_block__first_social ul li a i {
        color: white;
        transition: .3s; }
        .sixth_block__first_social ul li a i:hover {
          color: #8799a3; }

.sixth_block__second {
  margin-top: 50px; }
  .sixth_block__second h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900; }
  .sixth_block__second h5 {
    color: #8799a3;
    font-family: "Cambay", sans-serif; }
  .sixth_block__second__form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    max-width: 800px; }
    .sixth_block__second__form form {
      width: 100%;
      height: 100%; }

.sixth_block__second_input_main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .sixth_block__second_input_main_1, .sixth_block__second_input_main_2 {
    width: 45%;
    min-width: 200px;
    margin-right: 30px; }

.sixth_block__second_input {
  outline: none;
  border-radius: 30px;
  padding: 10px;
  background-color: #2b2b2b;
  color: white;
  font-size: 16px;
  width: 100%;
  border: 1px solid #2f2f2f; }
  .sixth_block__second_input:focus {
    background-color: #2b2b2b;
    border: 1px solid #8799a3;
    background-color: #212121; }

@media screen and (max-width: 790px) {
  .sixth_block__second_input_main_1, .sixth_block__second_input_main_2 {
    width: 100%;
    margin-top: 10px; }
  .sixth_block__second_input_main_2 {
    width: 100%;
    margin-top: 10px; } }

textarea {
  resize: none;
  margin: 30px 0;
  outline: none;
  border-radius: 30px;
  border: 1px solid #2e2e2e;
  background-color: #2b2b2b;
  color: white;
  font-size: 16px;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  border: 1px solid #2f2f2f; }
  textarea:focus {
    background-color: #2b2b2b;
    border: 1px solid #8799a3;
    background-color: #212121; }

.sixth_block__second_textarea {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  min-height: 300px;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.sixth_block__second_submit {
  background-color: #007efa;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-shadow: 0px 5px 30px 0px rgba(48, 115, 193, 0.96);
  cursor: pointer;
  padding: 20px 50px; }
  .sixth_block__second_submit:hover {
    box-shadow: none; }
