@import 'vars';
.block2{
  background-color: #0081ff;
  color: $color_white;
}
.first_part__block2{
 display: flex;
 flex-flow: row wrap;
}
.about_me__block2{
  font-family: $leckerli;
  font-size: 30px;
}
.investigationes{
  font-family: $monsterrat;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.questigationes{
  font-family: $cambay;
  font-size: 20px;
}
.eodem{
  @extend .questigationes;
  margin-top: 20px;
}
.first1_part__block{
  max-width: 400px;
}
.first2_part__block{
  max-width: 552px;
  margin-left: 40px;
  margin-top: 65px;
}
.blue__block{
  background-color: #007af2;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 80px 0;
  &_first{
    display: flex;
    flex-flow: row wrap;
    &_1{
      &_pic{
        width: 60px;
        height: 60px;
        background-image: url("../images/block2_logo1.jpg");
        background-repeat: no-repeat;
      }
    }
    &_2{
      margin-left: 50px;
      &_1{
        font-family: $monsterrat;
        font-weight: bold;
        font-size: 25px;
        max-width: 172px;
        margin-bottom: 20px;
      }
      &_2{
        font-family: $cambay;
        font-size: 18px;
        max-width: 263px;
      }
  }
}
}
.pic3{
  background-image: url("../images/block2_logo3.jpg");
  background-repeat: no-repeat;
}
.pic2{
  background-image: url("../images/block2_logo2.jpg");
  background-repeat: no-repeat;
}
.bl2{
  max-width: 300px;
}
.bl22{
  max-width: 310px;
}
.bl3{
  max-width: 300px;
}
.block2_end{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  &_fm{
    font-family: $cambay;
    font-size: 25px;
    margin: auto 0;
  }
}
.block2_end_socialnetworks{
  &_ul{
    list-style: none;
    li{
      height: 32px;
      width: 32px;
      display: inline-block;
      margin-right: 40px;
    }
  }
}
.k:hover{
  .kek{
    display: none;
  }
  .kek2{
    display: block;
  }
}
.kek2{
  display: none;
}
