@import 'vars';
body{
  margin: 0;
}
.block{
  width: 100%;
  min-height: 700px;
}
// @media screen and (max-width: 1000px){
//   .block{
//     min-height: 0;
//     max-height: 700px;
//   }
// }
.block_1{
  position: relative;
  background-image: url("../images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  max-width: 1200px;
  padding: 60px;
  margin: 0 auto;
}
.header{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: wrap;
}
.header__logo_albedo{
  display: flex;
  flex-flow: wrap;
  :hover{
    cursor: default;
  }
}
.logo{
  width: 50px;
  height: 60px;
  background-image: url("../images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin: auto 0;
}
.albedo{
  color: $color_white;
  display: inline-block;
  font-family: $monsterrat;
  font-weight: bold;
  margin: auto 0;
  margin-left: 10px;
}
.header__menu{
  display: inline-block;
  ul{
    margin: 0;
    list-style: none;
    font-size: 0;
  }
  li{
    font-size: 20px;
    display: inline-block;
    font-family: $work_sans;
    line-height: 60px;
    margin-left: 40px;
    :hover{
      color: #788790;
    }
  }
  a{
    color: $color_white;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
.header__button{
  line-height: 60px;
}
.header__button2{
  width: 160px;
  height: 40px;
  border: 2px solid yellow;
  border-radius: 20px;
  background: transparent;
  color: yellow;
  font-family: $work_sans;
  font-weight: bold;
  outline: none;
  line-height: 40px;
  box-shadow: 11px 9px 25px 0px rgba(184, 175, 50, 0.61);
    &:hover{
        box-shadow: none;
        transition: .4s;
        cursor: pointer;
      }
  }
.end__block1{
  display: flex;
  flex-flow: column wrap;
  color: $color_white;
  margin-top: 130px;
  max-width: 490px;
}
.end__div1{
  font-family: $leckerli;
  font-size: 30px;
}
.end__div2{
  font-family: $monsterrat;
  font-weight: bold;
  font-size: 50px;
  span{
    color: #0081ff;
  }
}
.end__div3{
  font-family: $monsterrat;
  font-size: 30px;
}
.end__div4{
  font-family: $cambay;
  font-size: 20px;
  color: #636363;
}
.end__div5{
  border: 7px solid #242424;
  background-color: #2b2b2b;
  border-radius: 40px;
  width: 140px;
  padding: 10px 20px;
  font-family: $monsterrat;
  margin-top: 20px;
  &:hover{
    color: #788790;
    cursor: pointer;
  }
}
