@import 'vars';
.block3__top{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  &_part1{
    &_portfolio{
      font-family: $leckerli;
      font-size: 26px;
      color: #8799a3;
      margin-bottom: 20px;
    }
    &_i-make-more{
      font-family: $monsterrat;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  &_part2{
    &_btn{
      margin-top: 20px;
      width: 250px;
      height: 50px;
      border: none;
      outline: none;
      border-radius: 60px;
      line-height: 50px;
      background-color: #1cbbb4;
      font-family: $monsterrat;
      font-weight: bold;
      font-size: 14px;
      box-shadow: 10px 10px 21px 0px rgba(18, 187, 180, 0.53);
      &:hover{
        cursor: pointer;
        transition: .4s;
        box-shadow: none;
      }
      &_a{
        color: $color_white;
        margin-left: 20%;
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
.block3__portfolio{
  margin-bottom: 100px;
  &_part1{
    &_1{
      height: 250px;
      background-image: url("../images/pic1_1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10% 75%;
      position: relative;
    }
    &_2{
      height: 200px;
      background-image: url("../images/pic1_2.2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &_3{
      height: 200px;
      background-image: url("../images/pic1_3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 10%;
    }
  }
  &_part2{
    &_1{
      height: 450px;
      background-image: url("../images/pic2_1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &_2{
      height: 225px;
      background-image: url("../images/pic2_2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &_3{
      height: 225px;
      background-image: url("../images/pic2_3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.blinds:hover{
  .blind{
    display: block;
  }
}
.blind{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  .block3_h3{display: block;}
  .block3_div1{display: block;}
  .block3_div2{display: block;}
}
.block3{
  &_h3{
    display: none;
  color: #74858e;
  font-family: $cambay;
  margin:  0 auto;
  }
  &_div1{
    display: none;
    font-family: $monsterrat;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: $color_white;
  }
  &_div2{
    display: none;
    text-align: center;
    &_1{
      color: #75858e;
    }
  }
  &_end_margin{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: 10%;
  }
}
