@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Cambay');
$monsterrat: 'Montserrat', sans-serif;
$color_white: white;
$work_sans: 'Work Sans', sans-serif;
$leckerli: 'Leckerli One', cursive;
$cambay: 'Cambay', sans-serif;
