doctype html
html(land="en") 
  head
    meta(chraset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    link(rel="stylesheet" href="../css/bootstrap.css")
    title Albedo
    script(src="https://use.fontawesome.com/7f2d2d9070.js")
  body
    include include/first_block.jade
    include include/second_block.jade
    include include/third_block.jade
    include include/fourth_block.jade
    include include/fifth_block.jade
    include include/sixth_block.jade
    
