.fifth_block
  .container
    .fifth_block__1
      .fifth_block__1_text
        h2(class="fifth_block__1_text_1") Blog...
        h2(class="fifth_block__1_text_2") Do Not Miss
        h2(class="fifth_block__1_text_3") the Useful Articles
        p Mirum est notare quam littera gothica, quam nunc parum claram...
      .fifth_block__1_blue
        h4 6 October 
        p “Eodem modo typi, qui nunc nobis videntur parum clari, sollemnes parum”
        h4 #[span Johnatan Miller]
      .fifth_block__1_video
        .fifth_block__1_video_standart
          h5 3 September 
          h4 Standard Post Format
        .fifth_block__1_video_video
          h5 20 September
          h4 Video Post Format
          i(class="fa fa-play-circle-o fa-2x" aria-hidden="true")
    .fifth_block__2
      .fifth_block__2_gallery
        h5 9 October
        h4 Gallery Post Format
        p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus.
        .fifth_block__2_gallery_button 
          a(href="#") READ MORE
      .fifth_block__2_2
        .fifth_block__2_2_standart
          h5 23 June
          h4 Standard Post Format without Preview Img
          p Qui nunc nobis videntur parum clari, sollemnes legere.
        .fifth_block__2_2_pink
          .fifth_block__2_2_pink_block
            h4 VIEW
            h4 ALL POSTS
      
