header.block.first_block 
  .container
    section(class="logo") 
      .logo__img
      .logo__text albedo
    nav(class="menu")
      ul
        li
          a(hred="#") Intro
        li
          a(hred="#") About Me
        li
          a(hred="#") Portfolio
        li
          a(hred="#") Clients
        li
          a(hred="#") Blog
        li
          a(hred="#") Contacts 
    .button 
      a(href="#") BUY IT NOW!
      
    section(class="Intro")
      h3 Hi there!
      h2 My Name is #[span Daniel]
      h4 I'm a Graphic Designer 
      p.
        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum parum, antepos-uerit etiam processus dynamicus. 
      .Intro__button 
        a(href="#") ABOUT ME
