.fourth_block
  .container
    .fourth_block__flex
      .fourth_block__text
        h3 Clients...
        h2 What Costumers Say:
      .fourth_block__review
        p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius nunc putamus parum claram.
        .fourth_block__review_CS
          .fourth_block__review_CS_img
          .fourth_block__review_CS_text
            h5 Christina Smith
            p Marketing Envato Pty Ltd.
      .fourth_block__logos
        .fourth_block__logos_1
          a(href="#")
            i(class="fa fa-ravelry fa-5x" aria-hidden="true")
        .fourth_block__logos_2
          a(href="#")
            i(class="fa fa-angellist fa-5x" aria-hidden="true")
        .fourth_block__logos_3
          a(href="#")
            i(class="fa fa-rebel fa-5x" aria-hidden="true")
        .fourth_block__logos_4
          a(href="#")  
            i(class="fa fa-optin-monster fa-5x" aria-hidden="true")
        
    
