.third_block__portfolio_hover
  .third_block__portfolio_hover_main
    p(class="third_block__portfolio_hover_main_1p") User Interfaces
    p(class="third_block__portfolio_hover_main_2p") Socialister - Mobile UI Kit for Photoshop
    .third_block__portfolio_hover_main_links
      a(href="#")
        i(class="fa fa-link fa-2x block3_div2_1" aria-hidden="true")
      a(href="#")
        i(class="fa fa-heart-o fa-2x block3_div2_1" aria-hidden="true")
