.sixth_block
  .container
    .sixth_block__first
      h3 Contacts...
      h2 CONTACT INFORMATION
      p(class="sixth_block__first_p") #[span You can find me here:]
      p(class="sixth_block__first_p") 795 South Park Avenue, Melbourne, Australia
      p #[span Phone:] 8 800 567.890.11
      p(class="sixth_block__first_p") #[span Monday t Friday from] 9.00 am to 8.00 pm EST
      p(class="sixth_block__first_p") #[span Saturday from] 10.00 am to 6.00 pm EST
      br
      a(href="#") hello@albedo.com
      br
      a(href="#") support@albedo.com
      .sixth_block__first_social
        ul
          li
            a(href="#")
              i(class="fa fa-facebook fa-2x" aria-hidden="true")
          li
            a(href="#")
              i(class="fa fa-twitter fa-2x" aria-hidden="true")
          li 
            a(href="#")
              i(class="fa fa-google-plus fa-2x" aria-hidden="true")
          li 
            a(href="#")
              i(class="fa fa-linkedin fa-2x" aria-hidden="true")
    .sixth_block__second
      h2 GET IN TOUCH
      br
    
      h5 You can contact with me using this form.
      .sixth_block__second__form
        form
          .sixth_block__second_input_main
            .sixth_block__second_input_main_1
              input(type="text" placeholder="Your Name" class="sixth_block__second_input")
            .sixth_block__second_input_main_2
              input(type="text" placeholder="Your Email Adress" class="sixth_block__second_input")
          br
          .sixth_block__second_textarea
            textarea(cols="67" placeholder="Type in your message..." maxlength="400")
          br
          input(type="submit" value="SEND" class="sixth_block__second_submit")
